body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: #bababa;
}

#desktop {
    position: relative;
    background-color: black;
    width: 1600px;
    height: 900px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 20px 50px 0 rgba(0 0 0 0.5);
}

#topbar {
    background-image: url("res/Topbar.png");
    background-size: contain;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 27px;
}

#view {
    position: absolute;
    top: 27px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #272727;
    border-radius: 10px 10px 0 0;
}

.workspace {
    background-image: url("res/DesktopBackground.png");
    background-size: cover;
    background-position: center center;
}

#dock {
    position: absolute;
    bottom: 18px;
    background-color: #3b3b3b;
    width: fit-content;
    height: 45px;
    padding: 18px;
    border-radius: 25px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.appLauncher {
    display: inline-block;
    width: 38px;
    height: 38px;
    margin: 4px 8px;
    background-color: white;
    border-radius: 100%;
}
